#go {
    width: 400px;
    height: 100px;
    background-color: red;
}

#gaga {
    width: 400px;
    height: 80px;
    background-color: yellow;
}

#gugus {
    width: 400px;
    height: 100px;
    background-color: red;
}